.header {
  padding-top: 25px;
  padding-bottom: 160px;
  min-height: 100vh;
  background-image: url("../img/header-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-promo {
  @include big-desktop {
    flex-direction: column;
  }
  &__inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__info {
    padding-top: 82px;

    @include big-desktop {
      margin: 0 auto;
      text-align: center;
    }
  }

  &__title {
    margin: 0;
    max-width: 670px;
    font-weight: 800;
    font-size: 80px;
    line-height: 120%;
    color: #fff;

    span {
      color: $accent;
    }

    @include big-desktop {
      max-width: none;
    }

    @include small-tablet {
      font-size: 70px;
    }

    @include mobile {
      font-size: 50px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #71768e;

    @include small-tablet {
      font-size: 22px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__description {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 72px;
    max-width: 730px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #a0a3b5;

    @include big-desktop {
      margin: 0 auto;
      margin-top: 40px;
      margin-bottom: 72px;
      text-align: center;
    }

    @include small-tablet {
      font-size: 26px;
    }

    @include mobile {
      font-size: 15px;
    }
  }

  &__btns {
    margin-bottom: 48px;

    @include small-tablet {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      margin-bottom: 20px;
      max-width: 100%;
    }
  }

  &__btn {
    &--fill {
      border-radius: 10px;
      padding: 25px 54px;
      font-weight: 700;
      font-size: 25px;
      line-height: 30px;
      color: #fff;
      background: $accent;

      @include small-tablet {
        margin: 0 auto;
        margin-bottom: 20px;
        max-width: 282px;
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;
        color: #fff;
      }
    }

    &--stroke {
      margin-left: 25px;
      border-radius: 10px;
      padding: 27px 57px;
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      color: #fff;
      background: rgba(255, 255, 255, 0.05);
      opacity: 0.9;

      @include small-tablet {
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 20px 45px;
        max-width: 306px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #fff;
        opacity: 0.9;
      }
    }
  }

  &__img {
    margin-left: 307px;
    padding-top: 85px;

    @include big-desktop {
      margin: 0;
      width: 100%;
      text-align: center;
    }
  }
}

.header-address {
  border: 1px solid #ffffff17;
  border-radius: 10px;
  padding: 14px 35px 13px 30px;
  max-width: 700px;

  @include big-desktop {
    margin: 0 auto;
  }

  @include mobile {
    padding: 0;
    width: 350px;
    font-size: 14px;
  }

  &__title {
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.4);
  }

  &__link {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.4);

    @include small-tablet {
      font-size: 20px;
    }

    @include mobile {
      font-size: 14px;
    }
  }
}
