<footer class="footer">
  <div class="container">
    <h2 class="title footer__title">Join our SpiderShib Inu Community</h2>
    <ul class="list-reset footer__list">
      <li class="footer__item">
        <a href="#" class="footer__link">
          <img src="img/footer-1.svg" alt="social" class="footer__social">
        </a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">
          <img src="img/footer-2.svg" alt="social" class="footer__social">
        </a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">
          <img src="img/footer-3.svg" alt="social" class="footer__social">
        </a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">
          <img src="img/footer-4.svg" alt="social" class="footer__social">
        </a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">
          <img src="img/footer-5.svg" alt="social" class="footer__social">
        </a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">
          <img src="img/footer-6.svg" alt="social" class="footer__social">
        </a>
      </li>
    </ul>
    <div class="footer__img">
      <img src="img/footer-img.svg" alt="spiderShui">
    </div>
    <div class="footer-address">
      <div class="footer-address__title">SpiderShiba Inu’s Contract address:</div>
      <div class="footer-address__link">0xe4C6E7a0F696Fb2356A187020eb13E742792Fdcc</div>
    </div>
  </div>
</footer>
