<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header-top">
        <a href="$" class="logo header__logo">
          <img src="img/logo.svg" alt="" class="logo__img" />
        </a>
        <nav class="menu" data-menu>
          <ul class="list-reset menu__list">
            <li class="menu__item">
              <a href="#" class="menu__link">How it works</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Play and earn</a>
            </li>
            <li class="menu__item"><a href="#" class="menu__link">Roadmap</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Team</a></li>
            <li class="menu__item">
              <a href="#" class="menu__link">Partners&Investors</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Why invest in SpiderShiba</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">Tokenomics</a>
            </li>
            <li class="menu__item"><a href="#" class="menu__link">FAQ</a></li>
            <li class="menu__item">
              <a href="#" class="menu__link">Community</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link menu__link--btn">Join Community</a>
            </li>
          </ul>
          <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
             <span class="burger__line"></span>
           </button>
        </nav>
      </div>
      <div class="header-promo">
        <div class="header-promo__inner">
          <div class="header-promo__info">
            <h1 class="header-promo__title"><span>Who is</span> mr. Spidershiba Inu?</h1>
            <span class="header-promo__subtitle">it’s a hybrid of Shiba and Spiderman.... but </span>
            <p class="header-promo__description">It’s not only for pump and dump by Elon tweets.<br> This is real NFT game with Achiements, Goals and nice gameplay with tokenization</p>
            <div class="header-promo__btns">
              <a href="" class="header-promo__btn header-promo__btn--fill">Join Community</a>
              <a href="" class="header-promo__btn header-promo__btn--stroke">More about SpiderShiba Inu</a>
            </div>
            <div class="header-address">
              <span class="header-address__title">Contract address:</span>
              <a class="header-address__link">0xe4C6E7a0F696Fb2356A187020eb13E742792Fdcc</a>
            </div>
          </div>
          <div class="header-promo__img">
            <img src="img/promo.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
